export PROJECT_ROOT=${PWD}

export PLOT=${PROJECT_ROOT}/plot
export OUTPUT=${PROJECT_ROOT}/output
export FIGURES=${PROJECT_ROOT}/figures

mkdir -p ${OUTPUT}/none
mkdir -p ${OUTPUT}/beta
mkdir -p ${OUTPUT}/gamma
mkdir -p ${OUTPUT}/both

mkdir -p ${FIGURES}/none
mkdir -p ${FIGURES}/beta
mkdir -p ${FIGURES}/gamma
mkdir -p ${FIGURES}/both

export PATH=$PATH:${PROJECT_ROOT}/run
